footer{
    border-top: 2px;
    border-top-color: $color1;
    border-top-style: solid;

    font-family: $footer-font;
    background-color: $color6;
    padding: 10px $padding-mobile;
    text-align: center;
}