$medium: 550px;
$large: 1550px;

@media (max-width: $medium) {

    @import 'small';

}

@media (min-width: $medium) and (max-width: $large) {

    @import 'medium';
    @import 'grid-areas';

}

@media (min-width: $large) {

    @import 'large';
    @import 'grid-areas';

}

.portrait {
    background-size: auto 150%;
}

.landscape{
    background-size: 100% auto;
}