nav {
  text-align: left;
  background-color: $color5;
  color: $color6;
  text-decoration: none;
  font-family: $header-font;

  li a {
    float: left;
    display: block;
    padding: 14px 6px;
    text-decoration: none;
    background-color: $color5;
    color: $color6;

    &:hover{
      background-color: rgba($color: $color6, $alpha: 0.9);
      color: $color1;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    padding-top: 2px;
    padding-left:5px;
    background-color: $color5;
  }

  .active {
    background-color: $color6;
    color: $color1;
  }
}