/* PADDING */
$padding-full: 0.5vw;
$padding-full-sides: 3.5vw;
$padding-mobile: 2.5vw;
$padding-mobile-aside: 3vw;

/* BODY WIDTH */
$body-width-margins: calc(99% + calc(100vw - 100%));
$body-width-true: calc(100% + calc(100vw - 100%));
$body-width-mobile: calc(100% + calc(100vw - 75%));
$body-width: 100vw;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

$header-font: 'Staatliches', cursive;
$body-font: 'Handlee', cursive;
$footer-font: 'Play', sans-serif;

$margins: 10%;
$content: calc(100% - #{$margins} * 2);